
<div class="card mb-3 mt-3">
    <div class="card-body">
        <div>
    
        <h3>
            {{ location.name }}
        </h3>
        </div>
    
        <div>
        Type: {{ location.type }}
        </div>
    
        <div>
        Dimension: {{ location.dimension }}
        </div>
    
        <div>
        Residents Count: {{ location.residents.length }}
        </div>
    
    </div>
    
    <div class="card-footer">
        <!-- <a [routerLink]="['/location', location.id]"><button class="btn btn-success">Location details<i class="ms-1 fas fa-eye"></i></button></a> -->
    </div>
    </div>

