
<div class="portal">
    <div class="swish">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="swirl">
        <span></span>
        <span></span>
        <span></span>
        <div class="swirl">
        <span></span>
        <div class="swirl">
        <span></span>
            <div class="swirl"> 
        <span></span>
            <div class="swirl"> 
        <span></span>
                <div class="swirl">
        <span></span>
                <div class="swirl">
        <span></span>
                <div class="swirl">
        <span></span></div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>