<div class="card mb-3" *ngIf="episode">
  <div class="card-body">
    <div>

      <h3>
        {{ episode.name }}
      </h3>
    </div>

    <div>
      {{ episode.episode }}
    </div>

    <div>
      Date: {{ episode.air_date }}
    </div>

    <div>
      Characters Count: {{ episode.characters.length }}
    </div>

  </div>

  <div class="card-footer">
    <a [routerLink]="['/episodes', episode.id]"><button class="btn btn-success">Episode details<i class="ms-1 fas fa-eye"></i></button></a>

  </div>
</div>