<div *ngIf="episode">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-sm-10 col-md-8 text-left">
        <div class="card mb-3 mt-3">
          <div class="card-body">
            <div>

              <h3>
                {{ episode.name }}
              </h3>
            </div>
        
            <div>
              {{ episode.episode }}
            </div>
        
            <div>
              Date: {{ episode.air_date }}
            </div>
        
            <div>
              Characters Count: {{ episode.characters.length }}
            </div>
        
          </div>
        
          <div class="card-footer">
            <h3 class=" text-center">
              Epizode characters:
            </h3>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6 mb-3" *ngFor="let character of characters">
              <app-character-card [character]="character"></app-character-card>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  
        


