<!-- Navbar -->
<div class="portal">
  <div class="swish">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="swirl">
    <span></span>
    <span></span>
    <span></span>
    <div class="swirl">
    <span></span>
      <div class="swirl">
    <span></span>
        <div class="swirl"> 
    <span></span>
          <div class="swirl"> 
    <span></span>
            <div class="swirl">
    <span></span>
            <div class="swirl">
    <span></span>
              <div class="swirl">
    <span></span></div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      
      <!-- Navbar brand -->
      <a class="navbar-brand" href="/">
        <img
          src="https://m.media-amazon.com/images/I/7144wzC3RuL._AC_SX425_.jpg"
          height="60"
          alt=""
          loading="lazy"
        />


      </a>
  
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        (click)="basicNavbar.toggle()"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div
        class="collapse navbar-collapse"
        id="navbarSupportedContent"
        mdbCollapse
        #basicNavbar="mdbCollapse"
      >
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/']">Characters</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"[routerLink]="['/episodes']">Episodes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/locations']">Locations</a>
          </li>
        </ul>
        <!-- Left links -->
  
        <!-- Search form -->
        <form class="d-flex input-group w-auto success">
          <input
            type="search"
            class="form-control"
            placeholder="Search name"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="button">
            Search
          </button>
        </form>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->