<p class="mt-3 text-white">Data from:

  <a href="https://rickandmortyapi.com/api/character" target="_blank">
    Rickandmortyapi.com
  </a>
</p>



  <div class="row text-white mb-3" *ngIf="charactersInfo.count > 0">
    <div class="col-6">
      <small>Total characters: {{ charactersInfo.count }}</small>
      <div>
        <!-- Atvaizduoti dabar perziurima puslapi -->
        Current page: {{ page }} / {{ charactersInfo.pages }}
      </div>
    </div>

    <div class="col-6 text-end">
      <!-- Angular click event example -->
      <button class="btn btn-success mx-3" (click)="previousPage()">
        Previous Page
      </button>
      <button class="btn btn-success" (click)="nextPage()">
        Next Page
      </button>
    </div>
  </div>
  <h1 class="text-white">Rick And Morty Characters</h1>
  <div class="col-sm-4 mb-3">
    <app-search-form (onFormSubmit)="filterCharacters($event)"></app-search-form>
  </div>
  <div class="row mb-3 text-white mb-3" *ngIf="charactersInfo.count == 0">
    <h1>Oops Nothing found. </h1>
    <p>You have searched for: <strong>{{ searchOptions.name }}</strong>. Try something else</p>
  </div>
  <div class="row">
    <div class="col-sm-6 mb-3" *ngFor="let character of characters">
      <!--Si dalis iskeliama i <app-character-card> komponenta-->
      <!-- <div class="card">
        <div class="card-title text-center">
          <h3 class=" mt-3">{{ character.name }}</h3>
        </div>
        <div class="card-body text-center">
          <div>
            <img class="img-fluid" [src]="character.image" [alt]="character.name" />
          </div>
        </div>
        <div class="card-footer text-center">
           <a [routerLink]="['/character', character.id]"><button class="btn btn-success">Character details<i class="ms-1 fas fa-eye"></i></button></a>
        </div>
      </div> -->
      <app-character-card [character]="character"></app-character-card>
    </div>
  </div>
