<div class="card" routerLink="/character/{{ character.id }}">
    <div class="card-title text-center">
        <h3 class=" mt-3">{{ character.name }}</h3>
    </div>
    <div class="card-body text-center">
        <div>
        <img class="img-fluid card-shadow rounded-circle z-depth-2" [src]="character.image" [alt]="character.name" />
        </div>
    </div>
    <div class="card-footer text-center">
        <a [routerLink]="['/character', character.id]"><button class="btn btn-success">Character details<i class="ms-1 fas fa-eye"></i></button></a>
    </div>
</div>
